USE [master]
GO
/****** Object:  Database [RiskApetite]    Script Date: 19/03/2024 10:31:36 ******/
CREATE DATABASE [RiskApetite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RiskApetite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RiskApetite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RiskApetite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RiskApetite_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RiskApetite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RiskApetite]
GO
/****** Object:  User [addisgashaw]    Script Date: 19/03/2024 10:31:37 ******/
CREATE USER [addisgashaw] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [addisgashaw]
GO
/****** Object:  Table [dbo].[APCredit]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APCredit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[One_Borrower_Unrelated] [nvarchar](50) NULL,
	[Single_Unrelated_Borrower] [nvarchar](50) NULL,
	[One_Related_Party] [nvarchar](50) NULL,
	[All_Related_Party] [nvarchar](50) NULL,
	[Top_10] [nvarchar](50) NULL,
	[Top_100] [nvarchar](50) NULL,
	[Top_200] [nvarchar](50) NULL,
	[Agriculture_O_S_B] [nvarchar](50) NULL,
	[Building_And_Con_O_S_B] [nvarchar](50) NULL,
	[DTS_O_S_B] [nvarchar](50) NULL,
	[Industry_O_S_B] [nvarchar](50) NULL,
	[Int_Trade_O_S_B] [nvarchar](50) NULL,
	[Financial_Inst_O_S_B] [nvarchar](50) NULL,
	[Others_O_S_B] [nvarchar](50) NULL,
	[Consumer_loan_O_S_B] [nvarchar](50) NULL,
	[Animal_Husbandry_O_S_B] [nvarchar](50) NULL,
	[Permanent_Crops_O_S_B] [nvarchar](50) NULL,
	[Temporary_Crops_O_S_B] [nvarchar](50) NULL,
	[Other_Agriculture_O_S_B] [nvarchar](50) NULL,
	[Mnfg_of_Cements_Wood_And_Printings_O_S_B] [nvarchar](50) NULL,
	[Manfg_of_Food_And_Beverage_O_S_B] [nvarchar](50) NULL,
	[Mnfg_of_Plastic_Metal_And_Mach_Equip_O_S_B] [nvarchar](50) NULL,
	[Mnfg_of_Textile_Chemicals_And_Med_Equip_O_S_B] [nvarchar](50) NULL,
	[Mining_And_Quarrying_O_S_B] [nvarchar](50) NULL,
	[Other_Manufacturing_O_S_B] [nvarchar](50) NULL,
	[Health_And_Education_O_S_B] [nvarchar](50) NULL,
	[Hotel_And_Tourism_O_S_B] [nvarchar](50) NULL,
	[Transpn_And_Comm_n_O_S_B] [nvarchar](50) NULL,
	[Wholesale_And_Retail_O_S_B] [nvarchar](50) NULL,
	[Other_Services_O_S_B] [nvarchar](50) NULL,
	[Imports_O_S_B] [nvarchar](50) NULL,
	[Exports_O_S_B] [nvarchar](50) NULL,
	[Consn_of_BLDG_And_Infral_Devt_O_S_B] [nvarchar](50) NULL,
	[Real_estate_O_S_B] [nvarchar](50) NULL,
	[W_B_Other_O_S_B] [nvarchar](50) NULL,
	[Central_Region_O_S_B] [nvarchar](50) NULL,
	[North_East_Region_O_S_B] [nvarchar](50) NULL,
	[South_West_Region_O_S_B] [nvarchar](50) NULL,
	[Term_loans_O_S_B] [nvarchar](50) NULL,
	[Overdraft_O_S_B] [nvarchar](50) NULL,
	[Merchandize_loan_O_S_B] [nvarchar](50) NULL,
	[Advance_Loans_O_S_B] [nvarchar](50) NULL,
	[Long_term_loans_O_S_B] [nvarchar](50) NULL,
	[Medium_Term_loans_O_S_B] [nvarchar](50) NULL,
	[Short_Term_loans_O_S_B] [nvarchar](50) NULL,
	[Loans_to_Retailers_O_S_B] [nvarchar](50) NULL,
	[Loans_to_Wholesalers_O_S_B] [nvarchar](50) NULL,
	[Loans_to_IFB_customers_O_S_B] [nvarchar](50) NULL,
	[Top_5_NPLs_O_S_B] [nvarchar](50) NULL,
	[Top_10_NPLs_O_S_B] [nvarchar](50) NULL,
	[Loans_and_Advance_O_S_B] [nvarchar](50) NULL,
	[Bonds_from_total_credit] [nvarchar](50) NULL,
	[NPLs_against_Total_O_S_B] [nvarchar](50) NULL,
	[Zero_days_Arrears] [nvarchar](50) NULL,
	[One_To_8_days_Arrears] [nvarchar](50) NULL,
	[Eight_To_29_days_Arrears] [nvarchar](50) NULL,
	[Special_Mention_O_S_B] [nvarchar](50) NULL,
	[Deliquent_Loans_against_O_S_B] [nvarchar](50) NULL,
	[Top_10_Wholesale_borrowers_O_S_B] [nvarchar](50) NULL,
	[Top_100_Wholesale_borrowers_O_S_B] [nvarchar](50) NULL,
	[Top_200_Wholesale_borrowers_O_S_B] [nvarchar](50) NULL,
	[Agriculture_O_S_B_W] [nvarchar](50) NULL,
	[Building_And_Con_O_S_B_W] [nvarchar](50) NULL,
	[DTS_O_S_B_W] [nvarchar](50) NULL,
	[Industry_O_S_B_W] [nvarchar](50) NULL,
	[Int_Trade_O_S_B_W] [nvarchar](50) NULL,
	[Financial_Inst_O_S_B_W] [nvarchar](50) NULL,
	[Others_O_S_B_W] [nvarchar](50) NULL,
	[Animal_Husbandry_O_S_B_W] [nvarchar](50) NULL,
	[Permanent_Crops_O_S_B_W] [nvarchar](50) NULL,
	[Temporary_Crops_O_S_B_W] [nvarchar](50) NULL,
	[Other_Agriculture_O_S_B_W] [nvarchar](50) NULL,
	[Mnfg_of_Cements_Wood_And_Printings_O_S_B_W] [nvarchar](50) NULL,
	[Manfg_of_Food_And_Beverage_O_S_B_W] [nvarchar](50) NULL,
	[Mnfg_of_Plastic_Metal_And_Mach_Equip_O_S_B_W] [nvarchar](50) NULL,
	[Mnfg_of_Textile_Chemicals_And_Med_Equip_O_S_B_W] [nvarchar](50) NULL,
	[Mining_And_Quarrying_O_S_B_W] [nvarchar](50) NULL,
	[Other_Manufacturing_O_S_B_W] [nvarchar](50) NULL,
	[Health_And_Education_O_S_B_W] [nvarchar](50) NULL,
	[Hotel_And_Tourism_O_S_B_W] [nvarchar](50) NULL,
	[Transpn_And_Commn_O_S_B_W] [nvarchar](50) NULL,
	[Wholesale_And_Retail_O_S_B_W] [nvarchar](50) NULL,
	[Other_Services_O_S_B_W] [nvarchar](50) NULL,
	[Imports_O_S_B_W] [nvarchar](50) NULL,
	[Exports_O_S_B_W] [nvarchar](50) NULL,
	[Consn_of_BLDG_And_Infral_Devt_O_S_B_W] [nvarchar](50) NULL,
	[Real_estate_O_S_B_W] [nvarchar](50) NULL,
	[W_B_Others_O_S_B_W] [nvarchar](50) NULL,
	[Central_Region_wholesale_O_S_B] [nvarchar](50) NULL,
	[North_East_Region_wholesale_O_S_B] [nvarchar](50) NULL,
	[South_West_Region_wholesale_O_S_B] [nvarchar](50) NULL,
	[Term_loans_wholesale_O_S_B] [nvarchar](50) NULL,
	[Overdraft_wholesale_O_S_B] [nvarchar](50) NULL,
	[Merchandize_loan_wholesale_O_S_B] [nvarchar](50) NULL,
	[Advance_Loans_wholesale_O_S_B] [nvarchar](50) NULL,
	[Long_term_wholesale_Loans_O_S_B] [nvarchar](50) NULL,
	[Medium_Termwholesale_Loans_O_S_B] [nvarchar](50) NULL,
	[Short_Term_wholesale_Loans_O_S_B] [nvarchar](50) NULL,
	[top_5_NP_Wholesale_loans_O_S_B] [nvarchar](50) NULL,
	[top_10_NP_Wholesale_loans_O_S_B] [nvarchar](50) NULL,
	[Corporate_wholesale_customers_O_S_B] [nvarchar](50) NULL,
	[Micro_wholesale_customers_O_S_B] [nvarchar](50) NULL,
	[SME_wholesale_customers_O_S_B] [nvarchar](50) NULL,
	[Public_And_instal_wholesale_customers_O_S_B] [nvarchar](50) NULL,
	[NPLs_against_Total_O_S_B_W] [nvarchar](50) NULL,
	[Zero_days_Arrears_W] [nvarchar](50) NULL,
	[One_To_8_days_Arrears_W] [nvarchar](50) NULL,
	[Eight_To_29_days_Arrears_W] [nvarchar](50) NULL,
	[Special_Mention_O_S_B_W] [nvarchar](50) NULL,
	[Deliquent_Loans_against_O_S_B_W] [nvarchar](50) NULL,
	[Term_loans_Retail_O_S_B] [nvarchar](50) NULL,
	[Overdraft_Retail_loans_O_S_B] [nvarchar](50) NULL,
	[Revolving_Retail_credits_O_S_B] [nvarchar](50) NULL,
	[Long_term_retail_loans_O_S_B] [nvarchar](50) NULL,
	[Medium_Term_Retail_loans_O_S_B] [nvarchar](50) NULL,
	[Short_Term_retail_loans_O_S_B] [nvarchar](50) NULL,
	[Central_Region_retail_loans_O_S_B] [nvarchar](50) NULL,
	[North_East_Region_retail_loans_O_S_B] [nvarchar](50) NULL,
	[South_West_Region_retail_loans_O_S_B] [nvarchar](50) NULL,
	[Affluent_Retail_customers_O_S_B] [nvarchar](50) NULL,
	[Middle_Retail_customers_O_S_B] [nvarchar](50) NULL,
	[Mass_Retail_customers_O_S_B] [nvarchar](50) NULL,
	[NPLs_against_Total_O_S_B_R] [nvarchar](50) NULL,
	[Zero_days_Arrears_R] [nvarchar](50) NULL,
	[One_8_days_Arrears_R] [nvarchar](50) NULL,
	[Eight_29_days_Arrears_R] [nvarchar](50) NULL,
	[Special_Mention_O_S_B_R] [nvarchar](50) NULL,
	[Deliquent_Loans_against_O_S_B_R] [nvarchar](50) NULL,
	[Top_10_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Top_20_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Top_50_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[DTS_O_S_B_N] [nvarchar](50) NULL,
	[Int_Trade_O_S_B_N] [nvarchar](50) NULL,
	[Agriculture_O_S_B_N] [nvarchar](50) NULL,
	[Building_And_Con_O_S_B_N] [nvarchar](50) NULL,
	[Industry_O_S_B_N] [nvarchar](50) NULL,
	[Consumer_loan_O_S_B_N] [nvarchar](50) NULL,
	[Central_Region_CBE_NOOR_Financing_O_S_B] [nvarchar](50) NULL,
	[North_East_Region_CBE_NOOR_Financing_O_S_B] [nvarchar](50) NULL,
	[South_West_Region_CBE_NOOR_Financing_O_S_B] [nvarchar](50) NULL,
	[Murabaha_Financings_O_S_B] [nvarchar](50) NULL,
	[Qerd_Financings_O_S_B] [nvarchar](50) NULL,
	[Istisna_Financings_O_S_B] [nvarchar](50) NULL,
	[Ijarah_Financings_O_S_B] [nvarchar](50) NULL,
	[Bai_Salam_Financings_O_S_B] [nvarchar](50) NULL,
	[Other_Financings_O_S_B] [nvarchar](50) NULL,
	[Long_term_Financings_O_S_B] [nvarchar](50) NULL,
	[Medium_Term_Financings_O_S_B] [nvarchar](50) NULL,
	[Short_Term_Financings_O_S_B] [nvarchar](50) NULL,
	[top_5_NPFs] [nvarchar](50) NULL,
	[top_10_NPFs] [nvarchar](50) NULL,
	[Retail_Financings_O_S_B] [nvarchar](50) NULL,
	[Wholesale_Financings_O_S_B] [nvarchar](50) NULL,
	[NPLs_against_Total_O_S_B_N] [nvarchar](50) NULL,
	[Zero_days_Arrears_N] [nvarchar](50) NULL,
	[One_To_8_days_Arrears_N] [nvarchar](50) NULL,
	[Eight_To_29_days_Arrears_N] [nvarchar](50) NULL,
	[Special_Mention_O_S_B_N] [nvarchar](50) NULL,
	[Deliquent_Loans_against_O_S_B_N] [nvarchar](50) NULL,
	[Arada_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Bole_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Kirkos_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Kolfe_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Megenagna_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Merkato_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Nefas_Silk_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Yeka_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Akaki_Kaliti_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Gullele_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Bahir_Dar_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Debrebirihan_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Debremarkos_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Dessie_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Dire_Dawa_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Gondar_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[JigJiga_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Mekelle_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Shire_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Woldiya_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Adama_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Ambo_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Assela_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Bale_Robe_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Dilla_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Hawassa_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Hossana_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Jimma_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Metu_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Nekemte_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Shahsemene_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Wolayita_District_Wholesale_O_S_B] [nvarchar](50) NULL,
	[Arada_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Bole_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Kirkos_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Kolfe_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Megenagna_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Merkato_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Nefas_Silk_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Yeka_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Akaki_Kaliti_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Gullele_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Bahir_Dar_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Debrebirihan_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Debremarkos_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Dessie_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Dire_Dawa_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Gondar_District_Retail_O_S_B] [nvarchar](50) NULL,
	[JigJiga_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Mekelle_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Shire_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Woldiya_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Adama_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Ambo_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Assela_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Bale_Robe_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Dilla_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Hawassa_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Hossana_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Jimma_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Metu_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Nekemte_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Shahsemene_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Wolayita_District_Retail_O_S_B] [nvarchar](50) NULL,
	[Arada_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Bole_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Kirkos_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Kolfe_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Megenagna_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Merkato_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Nefas_Silk_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Yeka_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Akaki_Kaliti_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Gullele_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Bahir_Dar_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Debrebirihan_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Debremarkos_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Dessie_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Dire_Dawa_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Gondar_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[JigJiga_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Mekelle_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Shire_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Woldiya_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Adama_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Ambo_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Assela_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Bale_Robe_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Dilla_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Hawassa_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Hossana_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Jimma_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Metu_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Nekemte_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Shahsemene_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Wolayita_District_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Total_O_S_B] [nvarchar](50) NULL,
	[Total_Capital] [nvarchar](50) NULL,
	[Total_Credit] [nvarchar](50) NULL,
	[Total_Private_Loans_and_Advances] [nvarchar](50) NULL,
	[Total_Wholesale_Loans_and_Advances] [nvarchar](50) NULL,
	[Total_Retail_Loans_and_Advances] [nvarchar](50) NULL,
	[Total_CBE_NOOR_O_S_B] [nvarchar](50) NULL,
	[Total_Central_Region_O_S_B] [nvarchar](50) NULL,
	[Total_North_east_region_O_S_B] [nvarchar](50) NULL,
	[Total_South_west_Region_O_S_B] [nvarchar](50) NULL,
	[Total_IFB_Central_Region_O_S_B] [nvarchar](50) NULL,
	[Total_IFB_North_east_region_O_S_B] [nvarchar](50) NULL,
	[Total_IFB_South_west_Region_O_S_B] [nvarchar](50) NULL,
	[Total_Wholesale_Central_Region_O_S_B] [nvarchar](50) NULL,
	[Total_Wholesale_North_east_region_O_S_B] [nvarchar](50) NULL,
	[Total_Wholesale_South_west_Region_O_S_B] [nvarchar](50) NULL,
	[Total_Retail_Central_Region_O_S_B] [nvarchar](50) NULL,
	[Total_Retail_North_east_region_O_S_B] [nvarchar](50) NULL,
	[Total_Retail_South_west_Region_O_S_B] [nvarchar](50) NULL,
	[Total_NPLs_of_the_bank] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_credit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Market_risk]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market_risk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
	[Quarter] [nvarchar](50) NULL,
	[Rate_Sensitive_Assets] [nvarchar](50) NULL,
	[Rate_Sensitive_Liabilities] [nvarchar](50) NULL,
	[Rate_Sensitive_Assets_Three_months] [nvarchar](50) NULL,
	[Rate_Sensitive_Liabilities_Three_months] [nvarchar](50) NULL,
	[FX_Asset_On_Balance_Sheet_Assets] [nvarchar](50) NULL,
	[FX_Asset_Off_Balance_Sheet_Assets] [nvarchar](50) NULL,
	[FX_Liability_On_Balance_Sheet_Liabilities] [nvarchar](50) NULL,
	[FX_Liability_Off_Balance_Sheet_Liabilities] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_1_Day] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_2_7_Days] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_8_14_Days] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_15_days_to_1_month] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_1_3_months] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_3_6_months] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_6_12_months] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_1_3_years] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_Over_3_years] [nvarchar](50) NULL,
	[Asset_by_Maturity_Bucket_Non_Interest_Sensitive_Items] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_1_Day] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_2_7_Days] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_8_14_Days] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_15_days_to_1_month] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_1_3_months] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_3_6_months] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_6_12_months] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_1_3_years] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_Over_3_years] [nvarchar](50) NULL,
	[Liability_And_Equaity_by_Maturity_Bucket_Non_Interest_Sensitive_Items] [nvarchar](50) NULL,
	[Open_Position_By_USD_short] [nvarchar](50) NULL,
	[Open_Position_By_EUR_short] [nvarchar](50) NULL,
	[Open_Position_By_Other_currency_short] [nvarchar](50) NULL,
	[Total_On_B_S_FCY_Assets_USD] [nvarchar](50) NULL,
	[Total_On_B_S_FCY_Assets_EUR] [nvarchar](50) NULL,
	[Total_On_B_S_FCY_Assets_Other_currencies] [nvarchar](50) NULL,
	[Total_On_B_S_FCY_Liabilities_USD] [nvarchar](50) NULL,
	[Total_On_B_S_FCY_Liabilities_EUR] [nvarchar](50) NULL,
	[Total_On_B_S_FCY_Liabilities_Other_currencies] [nvarchar](50) NULL,
	[Total_Off_B_S_FCY_Assets_USD] [nvarchar](50) NULL,
	[Total_Off_B_S_FCY_Assets_EUR] [nvarchar](50) NULL,
	[Total_Off_B_S_FCY_Assets_Other_currencies] [nvarchar](50) NULL,
	[Total_Off_B_S_FCY_Liabilities_USD] [nvarchar](50) NULL,
	[Total_Of_B_S_FCY_Liabilities_EUR] [nvarchar](50) NULL,
	[Total_Off_B_S_FCY_Liabilities_Other_currencies] [nvarchar](50) NULL,
	[FCY_On_B_S_Assets_in_USD] [nvarchar](50) NULL,
	[FCY_Of_B_S_Assets_in_USD] [nvarchar](50) NULL,
	[FCY_On_B_S_Liabilities_in_USD] [nvarchar](50) NULL,
	[FCY_Off_B_S_Liabilities_in_USD] [nvarchar](50) NULL,
	[FCY_On_B_S_Assets_in_other_currencies_in_birr] [nvarchar](50) NULL,
	[FCY_On_B_S_Liabilities_in_other_currencies_in_birr] [nvarchar](50) NULL,
	[FCY_FCY_Asset_Cash_and_Deposit_by_USD] [nvarchar](50) NULL,
	[FCY_Corresponden_Our_Account_million_USD_equva] [nvarchar](50) NULL,
	[USD_agenist_Birr_Buying_Rate] [nvarchar](50) NULL,
	[USD_agenist_Birr_Selling_Rate] [nvarchar](50) NULL,
	[USD_agenist_Birr_Mid_Rate] [nvarchar](50) NULL,
	[Official_Market_Rate] [nvarchar](50) NULL,
	[Parallel_Market_Rate] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_Market_risk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oprational_risk]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oprational_risk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
	[Quarter] [nvarchar](50) NULL,
	[Actual_Incidents_External] [nvarchar](50) NULL,
	[Actual_Incidents_People] [nvarchar](50) NULL,
	[Actual_Incidents_Process] [nvarchar](50) NULL,
	[Actual_Incidents_System] [nvarchar](50) NULL,
	[Near_Misses_External] [nvarchar](50) NULL,
	[Near_Misses_People] [nvarchar](50) NULL,
	[Near_Misses_Process] [nvarchar](50) NULL,
	[Near_Misses_System] [nvarchar](50) NULL,
	[Revenue] [nvarchar](50) NULL,
	[NetInterestIncome] [nvarchar](50) NULL,
	[NetNonInterestIncome] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_Oprational_risk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](250) NULL,
	[Description] [nvarchar](350) NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[UpdatedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDBActualFinancialStatement]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDBActualFinancialStatement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](50) NULL,
	[Quarter] [varchar](50) NULL,
	[Off_Bs_Letter_of_credit] [varchar](50) NULL,
	[Off_Bs_Loans_and_Bond_Com] [varchar](50) NULL,
	[Off_Bs_Loans_and_Bond_Com_guaranted_by_central_gov] [varchar](50) NULL,
	[Off_Bs_Loans_com_Guarnateed_by_regional_gov] [varchar](50) NULL,
	[Off_Bs_Bid_bonds_Performance_Bonds] [varchar](50) NULL,
	[Total_Off_B_sheet_RWA] [varchar](50) NULL,
	[LOANS_AND_ADVANCES_Interest_Income] [varchar](50) NULL,
	[BONDS_SECURITIES_Interest_Income] [varchar](50) NULL,
	[COMMISSION_AND_CHARGES_Income] [varchar](50) NULL,
	[CBE_NOOR_INCOME] [varchar](50) NULL,
	[Gain_On_FX] [varchar](50) NULL,
	[OTHER_INCOME] [varchar](50) NULL,
	[INTEREST_EXPENSE] [varchar](50) NULL,
	[PROFIT_PAID_TO_CBE_NOOR_DEPOSIT] [varchar](50) NULL,
	[EMPLOYEES_SALARIES] [varchar](50) NULL,
	[EMPLOYEES_BENEFITS] [varchar](50) NULL,
	[EMPLOYEES_PROVISIONS] [varchar](50) NULL,
	[GENERAL_EXPENSES] [varchar](50) NULL,
	[LOSS_ON_FX] [varchar](50) NULL,
	[IMPAIRMENT_ON_FINANCIAL_ASSETS] [varchar](50) NULL,
	[PROFIT_LOSS_BEFORE_TAXATION] [varchar](50) NULL,
	[Cash_and_cash_equivalent] [varchar](50) NULL,
	[Debt_and_Equity_securities] [varchar](50) NULL,
	[Loans_advances_and_Financing_to_customers_net] [varchar](50) NULL,
	[Loans_to_Financial_institutions] [varchar](50) NULL,
	[Receivables_net] [varchar](50) NULL,
	[Investments_in_subsidiaries_and_associates] [varchar](50) NULL,
	[Non_current_assets_held_for_sale_net] [varchar](50) NULL,
	[Property_plant_and_equipment_net] [varchar](50) NULL,
	[Right_of_use_assets_Net] [varchar](50) NULL,
	[Intangible_Assets_Softwares] [varchar](50) NULL,
	[Other_Assets] [varchar](50) NULL,
	[Deferred_tax_asset] [varchar](50) NULL,
	[Deposits_Due_to_Other_Banks] [varchar](50) NULL,
	[Customers_deposits] [varchar](50) NULL,
	[Margin_Held_Payable] [varchar](50) NULL,
	[Tax_and_Pension_Payable] [varchar](50) NULL,
	[Finance_lease_obligations] [varchar](50) NULL,
	[Dividend] [varchar](50) NULL,
	[Employee_Benefits_Obligation] [varchar](50) NULL,
	[Provisions] [varchar](50) NULL,
	[Borrowing_or_National_Bank_Liabilities] [varchar](50) NULL,
	[Other_Liabilities] [varchar](50) NULL,
	[Capital] [varchar](50) NULL,
	[Legal_reserve] [varchar](50) NULL,
	[Accumulated_profit_or_loss] [varchar](50) NULL,
	[CBE_Noor_reserve] [varchar](50) NULL,
	[Other_Comprehensive_income] [varchar](50) NULL,
	[Regulatory_Impairment_reserve] [varchar](50) NULL,
	[Provisional_profit_or_loss] [varchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SDBActualFinancialStatement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDBCredit]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDBCredit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](150) NULL,
	[Quarter] [nvarchar](150) NULL,
	[Pass_Loan] [nvarchar](150) NULL,
	[Special_Mention_Loan] [nvarchar](150) NULL,
	[Substandard_Loan] [nvarchar](150) NULL,
	[Doubtful_Loan] [nvarchar](150) NULL,
	[Loss_Loan] [nvarchar](150) NULL,
	[Total_Bonds_CorpAndCoup] [nvarchar](150) NULL,
	[NPL_Agriculture] [nvarchar](150) NULL,
	[NPL_Industries] [nvarchar](150) NULL,
	[NPL_Domestic_Trade_And_Service] [nvarchar](150) NULL,
	[NPL_International_Trade] [nvarchar](150) NULL,
	[NPL_Building_And_Construction] [nvarchar](150) NULL,
	[NPL_Consumer_Loan] [nvarchar](150) NULL,
	[NPL_Financial_Institutions] [nvarchar](150) NULL,
	[NPL_Other_Sector] [nvarchar](150) NULL,
	[Recovery_Rate1] [nvarchar](150) NULL,
	[Recovery_Rate2] [nvarchar](150) NULL,
	[Recovery_Rate3] [nvarchar](150) NULL,
	[Provision_for_Pass] [nvarchar](150) NULL,
	[Provision_for_Special_Mention] [nvarchar](150) NULL,
	[Provision_for_Substandard] [nvarchar](150) NULL,
	[Provision_for_Doubtful] [nvarchar](150) NULL,
	[Provision_for_Loss] [nvarchar](150) NULL,
	[Top_10_Borrowers_oORs] [nvarchar](150) NULL,
	[Top_100_Borrowers_oORs] [nvarchar](150) NULL,
	[Risk_Weighted_Asset] [nvarchar](150) NULL,
	[CSBL] [nvarchar](150) NULL,
	[NCSBL_Priv_and_Coop] [nvarchar](150) NULL,
	[Total_Disbursement] [nvarchar](150) NULL,
	[Principal_Collection_Loans_and_Advances] [nvarchar](150) NULL,
	[Principal_Collection_Coup_and_Corp_Bonds] [nvarchar](150) NULL,
	[Principal_Collection_Actual] [nvarchar](50) NULL,
	[Disbursement_Loans_Adv] [nvarchar](150) NULL,
	[Disbursement_Coupon_Corporate_Bonds] [nvarchar](150) NULL,
	[Total_Interest_Earned_Loans_and_Adv] [nvarchar](150) NULL,
	[Total_Income_CBE_Noor_Financing] [nvarchar](150) NULL,
	[Letter_of_credit] [nvarchar](50) NULL,
	[Loans_and_Bond_Com] [nvarchar](50) NULL,
	[Loans_and_Bond_Com_guaranted_by_central_gov] [nvarchar](50) NULL,
	[Loans_Com_Guarnateed_by_regional_gov] [nvarchar](50) NULL,
	[Bid_bonds_Performance_Bonds] [nvarchar](50) NULL,
	[Total_Off_B_sheet_RWA] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SDBCredit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDBForcastedFinancialStatement]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDBForcastedFinancialStatement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Forcasted_Year] [varchar](50) NULL,
	[Forcasted_Quarter] [varchar](50) NULL,
	[Forcasted_INTEREST_INCOME_LOANS_AND_ADVANCES] [varchar](50) NULL,
	[Forcasted_INTEREST_INCOME_BONDS_and_SECURITIES] [varchar](50) NULL,
	[Forcasted_COMMISSION_AND_CHARGES] [varchar](50) NULL,
	[Forcasted_CBE_NOOR_INCOME] [varchar](50) NULL,
	[Forcasted_Gain_On_FX] [varchar](50) NULL,
	[Forcasted_OTHER_INCOME] [varchar](50) NULL,
	[Forcasted_INTEREST_EXPENSE] [varchar](50) NULL,
	[Forcasted_PROFIT_PAID_TO_CBE_NOOR_DEPOSIT] [varchar](50) NULL,
	[Forcasted_EMPLOYEES_SALARIES] [varchar](50) NULL,
	[Forcasted_EMPLOYEES_BENEFITS] [varchar](50) NULL,
	[Forcasted_EMPLOYEES_PROVISIONS] [varchar](50) NULL,
	[Forcasted_GENERAL_EXPENSES] [varchar](50) NULL,
	[Forcasted_LOSS_ON_FX] [varchar](50) NULL,
	[Forcasted_IMPAIRMENT_ON_FINANCIAL_ASSETS] [varchar](50) NULL,
	[Forcasted_PROFIT_LOSS_BEFORE_TAXATION] [varchar](50) NULL,
	[Forcasted_Cash_and_cash_equivalent] [varchar](50) NULL,
	[Forcasted_Debt_and_Equity_securities] [varchar](50) NULL,
	[Forcasted_Loans_advances_and_Financing_to_customers_net] [varchar](50) NULL,
	[Forcasted_Loans_to_Financial_institutions] [varchar](50) NULL,
	[Forcasted_Receivables_net] [varchar](50) NULL,
	[Forcasted_Investments_in_subsidiaries_and_associates] [varchar](50) NULL,
	[Forcaste_Non_current_assets_held_for_sale_net] [varchar](50) NULL,
	[Forcasted_Property_plant_and_equipment_net] [varchar](50) NULL,
	[Forcasted_Right_of_use_assets_Net] [varchar](50) NULL,
	[Forcasted_Intangible_Assets_Softwares] [varchar](50) NULL,
	[Forcasted_Other_Assets] [varchar](50) NULL,
	[Forcasted_Deferred_tax_asset] [varchar](50) NULL,
	[Forcasted_Deposits_Due_to_Other_Banks] [varchar](50) NULL,
	[Forcasted_Customers_deposits] [varchar](50) NULL,
	[Forcasted_Margin_Held_Payable] [varchar](50) NULL,
	[Forcasted_Tax_and_Pension_Payable] [varchar](50) NULL,
	[Forcasted_Finance_lease_obligations] [varchar](50) NULL,
	[Forcasted_Dividend] [varchar](50) NULL,
	[Forcasted_Employee_Benefits_Obligation] [varchar](50) NULL,
	[Forcasted_Provisions] [varchar](50) NULL,
	[Forcasted_Borrowing_or_National_Bank_Liabilities] [varchar](50) NULL,
	[Forcasted_Other_Liabilities] [varchar](50) NULL,
	[Forcasted_Capital] [varchar](50) NULL,
	[Forcasted_Legal_reserve] [varchar](50) NULL,
	[Forcasted_Accumulated_profit_or_loss] [varchar](50) NULL,
	[Forcasted_CBE_Noor_reserve] [varchar](50) NULL,
	[Forcasted_Other_Comprehensive_income] [varchar](50) NULL,
	[Forcasted_Regulatory_Impairment_reserve] [varchar](50) NULL,
	[Forcasted_Provisional_profit_over_loss] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_PRIVATE] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_PUBLIC_ENTERPRISES] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_ASSOCIATIONS] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_GOVERNMENT] [varchar](50) NULL,
	[Forcasted_Saving_PRIVATE] [varchar](50) NULL,
	[Forcasted_Saving_PUBLIC_ENTERPRISES] [varchar](50) NULL,
	[Forcasted_Saving_ASSOCIATIONS] [varchar](50) NULL,
	[Forcasted_Saving_GOVERNMENT] [varchar](50) NULL,
	[Forcasted_Time_PRIVATE] [varchar](50) NULL,
	[Forcasted_Time_PUBLIC_ENTERPRISES] [varchar](50) NULL,
	[Forcasted_Time_ASSOCIATIONS] [varchar](50) NULL,
	[Forcasted_Time_GOVERNMENT] [varchar](50) NULL,
	[Forcasted_CBE_Noor_Deposit] [varchar](50) NULL,
	[Forcasted_Loans_and_Advance_Principal] [varchar](50) NULL,
	[Forcasted_Accrued_Interest_on_Loans_and_Advance] [varchar](50) NULL,
	[Forcasted_Coupon_Bond_Principal] [varchar](50) NULL,
	[Forcasted_Accrued_Interest_on_Coupon_Bond] [varchar](50) NULL,
	[Forcasted_DBE_Bond] [varchar](50) NULL,
	[Forcasted_Accrued_Interest_on_DBEs_Bond] [varchar](50) NULL,
	[Forcasted_Government_Bond] [varchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SDBForcastedFinancialStatement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDBLiquidity]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDBLiquidity](
	[ID_No] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](50) NULL,
	[Quarter] [varchar](50) NULL,
	[Customer_Deposit] [varchar](50) NULL,
	[Saving_Deposit] [varchar](50) NULL,
	[Time_Deposit] [varchar](50) NULL,
	[Demand_Deposit] [varchar](50) NULL,
	[IFB_Deposit] [varchar](50) NULL,
	[Principal_cash_collection] [varchar](50) NULL,
	[Interest_cash_collection] [varchar](50) NULL,
	[loan_principal_cash_collection] [varchar](50) NULL,
	[loan_interest_cash_collection] [varchar](50) NULL,
	[Bond_principal_cash_collection] [varchar](50) NULL,
	[Bond_interest_cash_collection] [varchar](50) NULL,
	[Total_asset] [varchar](50) NULL,
	[Assets_maturing_within_three_months] [varchar](50) NULL,
	[Assets_maturing_within_six_months] [varchar](50) NULL,
	[Assets_maturing_within_one_year] [varchar](50) NULL,
	[Assets_maturing_within_three_months_cash_and_balance_with_NBE] [varchar](50) NULL,
	[Assets_maturing_within_three_months_debit_and_equity_securities] [varchar](50) NULL,
	[Assets_maturing_within_three_months_loan_and_advance_to_customers] [varchar](50) NULL,
	[Assets_maturing_within_three_months_loan_and_financial_institutions] [varchar](50) NULL,
	[Total_liquid_asset] [varchar](50) NULL,
	[Borrowing] [varchar](50) NULL,
	[Other_liablity] [varchar](50) NULL,
	[Liablity_maturing_within_three_months] [varchar](50) NULL,
	[Liablity_maturing_within_six_months] [varchar](50) NULL,
	[Liablity_maturing_within_one_year] [varchar](50) NULL,
	[Liabilities_maturing_within_Three_month_Deposit_Due_to_other_banks] [varchar](50) NULL,
	[Liabilities_maturing_within_Three_month_Customers_Deposit] [varchar](50) NULL,
	[Liabilities_maturing_within_Three_month_Other_Liabilities] [varchar](50) NULL,
	[HQLA] [varchar](50) NULL,
	[Total_liability] [varchar](50) NULL,
	[Total_net_current_liablity] [varchar](50) NULL,
	[Top_10_Depositors] [varchar](50) NULL,
	[Top_100_Depositors] [varchar](50) NULL,
	[Top_1000_Depositors] [varchar](50) NULL,
	[Government] [varchar](50) NULL,
	[Private] [varchar](50) NULL,
	[Publice] [varchar](50) NULL,
	[Individual] [varchar](50) NULL,
	[Cooperative] [varchar](50) NULL,
	[Total_Capital] [varchar](50) NULL,
	[Provisional_profit_per_loss] [varchar](50) NULL,
	[Increase_in_Deposit_Or_net_of_reserve_reqmt_and_non_fund_inflows] [varchar](50) NULL,
	[Principal_Collection_Loans_and_Advances] [varchar](50) NULL,
	[Principal_Collection_Coup_and_Corp_Bonds] [varchar](50) NULL,
	[Disbursement_Loans_and_Adv] [varchar](50) NULL,
	[Disbursement_Coupon_and_Corporate_Bonds] [varchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_Liquidity_risk] PRIMARY KEY CLUSTERED 
(
	[ID_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEBActual_financial_statement]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEBActual_financial_statement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](50) NULL,
	[Total_off_Bs_commit] [varchar](50) NULL,
	[OFF_BALANCE_SHEETOFF_BALANCE_SHEET] [varchar](50) NULL,
	[OFF_BALANCE_SHEETLetter_of_credit] [varchar](50) NULL,
	[OFF_BALANCE_SHEETLoans_and_Bond_Com] [varchar](50) NULL,
	[OFF_BALANCE_SHEETLoans_and_Bond_Com_guaranted_by_central_gov] [varchar](50) NULL,
	[OFF_BALANCE_SHEETLoans_com_Guarnateed_by_regional_gov] [varchar](50) NULL,
	[OFF_BALANCE_SHEETBid_bonds_Performance_Bonds] [varchar](50) NULL,
	[TOTAL_INTEREST_EARNED_LOANS_AND_ADVA] [varchar](50) NULL,
	[TOTAL_INCOME_CBE_NOOR_FINANCING] [varchar](50) NULL,
	[Total_Risk_Weighted_Asset_RWA] [varchar](50) NULL,
	[LOANS_AND_ADVANCES_Interest_Income] [varchar](50) NULL,
	[BONDS_and_SECURITIES_Interest_Income] [varchar](50) NULL,
	[COMMISSION_AND_CHARGES_Income] [varchar](50) NULL,
	[CBE_NOOR_INCOME] [varchar](50) NULL,
	[Gain_On_FX] [varchar](50) NULL,
	[OTHER_INCOME] [varchar](50) NULL,
	[INTEREST_EXPENSE] [varchar](50) NULL,
	[PROFIT_PAID_TO_CBE_NOOR_DEPOSIT] [varchar](50) NULL,
	[EMPLOYEES_SALARIES] [varchar](50) NULL,
	[EMPLOYEES_BENEFITS] [varchar](50) NULL,
	[EMPLOYEES_PROVISIONS] [varchar](50) NULL,
	[GENERAL_EXPENSES] [varchar](50) NULL,
	[LOSS_ON_FX] [varchar](50) NULL,
	[IMPAIRMENT_ON_FINANCIAL_ASSETS] [varchar](50) NULL,
	[PROFIT_LOSS_BEFORE_TAXATION] [varchar](50) NULL,
	[Cash_and_cash_equivalent] [varchar](50) NULL,
	[Debt_and_Equity_securities] [varchar](50) NULL,
	[Loans_advances_and_Financing_to_customers_net] [varchar](50) NULL,
	[Loans_to_Financial_institutions] [varchar](50) NULL,
	[Receivables_net] [varchar](50) NULL,
	[Investments_in_subsidiaries_and_associates] [varchar](50) NULL,
	[Non_current_assets_held_for_sale_net] [varchar](50) NULL,
	[Property_plant_and_equipment_net] [varchar](50) NULL,
	[Right_of_use_assets_Net] [varchar](50) NULL,
	[Intangible_Assets_Softwares] [varchar](50) NULL,
	[Other_Assets] [varchar](50) NULL,
	[Deferred_tax_asset] [varchar](50) NULL,
	[Deposits_Due_to_Other_Banks] [varchar](50) NULL,
	[Customers_deposits] [varchar](50) NULL,
	[Margin_Held_Payable] [varchar](50) NULL,
	[Tax_and_Pension_Payable] [varchar](50) NULL,
	[Finance_lease_obligations] [varchar](50) NULL,
	[Dividend] [varchar](50) NULL,
	[Employee_Benefits_Obligation] [varchar](50) NULL,
	[Provisions] [varchar](50) NULL,
	[Borrowing_National_Bank_Liabilities] [varchar](50) NULL,
	[Other_Liabilities] [varchar](50) NULL,
	[Capital] [varchar](50) NULL,
	[Legal_reserve] [varchar](50) NULL,
	[Accumulated_profit_or_loss] [varchar](50) NULL,
	[CBE_Noor_reserve] [varchar](50) NULL,
	[Other_Comprehensive_income] [varchar](50) NULL,
	[Regulatory_Impairment_reserve] [varchar](50) NULL,
	[Provisional_profit_loss] [varchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SEBActual_financial_statement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEBCredit_risk]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEBCredit_risk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
	[Non_Performing_Loan_NPL] [nvarchar](50) NULL,
	[Provision] [nvarchar](50) NULL,
	[Loan_and_Adavce] [nvarchar](50) NULL,
	[Net_Coupon] [nvarchar](50) NULL,
	[Net_Loan] [nvarchar](50) NULL,
	[Total_Bond] [nvarchar](50) NULL,
	[Performing_loan_amount] [nvarchar](50) NULL,
	[NCSBL_Private_and_Cooperatives] [nvarchar](50) NULL,
	[CSBL] [nvarchar](50) NULL,
	[Principal_Collection_Loans_And_Advances] [nvarchar](50) NULL,
	[Principal_Collection_Coup_And_Corp_Bonds] [nvarchar](50) NULL,
	[Disbursement_Loans_And_Adv] [nvarchar](50) NULL,
	[Disbursement_Coupon_And_Corporate_Bonds] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SEBCredit_risk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEBForcasted_Financial_Statement]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEBForcasted_Financial_Statement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Forcasted_Year] [varchar](50) NULL,
	[Forcasted_INTEREST_INCOME_LOANS_AND_ADVANCES] [varchar](50) NULL,
	[Forcasted_INTEREST_INCOMEBONDS_and_SECURITIES] [varchar](50) NULL,
	[Forcasted_COMMISSION_AND_CHARGES] [varchar](50) NULL,
	[Forcasted_CBE_NOOR_INCOME] [varchar](50) NULL,
	[Forcasted_Gain_On_FX] [varchar](50) NULL,
	[Forcasted_OTHER_INCOME] [varchar](50) NULL,
	[Forcasted_INTEREST_EXPENSE] [varchar](50) NULL,
	[Forcasted_PROFIT_PAID_TO_CBE_NOOR_DEPOSIT] [varchar](50) NULL,
	[Forcasted_EMPLOYEES_SALARIES] [varchar](50) NULL,
	[Forcasted_EMPLOYEES_BENEFITS] [varchar](50) NULL,
	[Forcasted_EMPLOYEES_PROVISIONS] [varchar](50) NULL,
	[Forcasted_GENERAL_EXPENSES] [varchar](50) NULL,
	[Forcasted_LOSS_ON_FX] [varchar](50) NULL,
	[Forcasted_IMPAIRMENT_ON_FINANCIAL_ASSETS] [varchar](50) NULL,
	[Forcasted_PROFIT_LOSS_BEFORE_TAXATION] [varchar](50) NULL,
	[Forcasted_Cash_and_cash_equivalent] [varchar](50) NULL,
	[Forcasted_Debt_and_Equity_securities] [varchar](50) NULL,
	[Forcasted_Loans_advances_and_Financing_to_customers_net] [varchar](50) NULL,
	[Forcasted_Loans_to_Financial_institutions] [varchar](50) NULL,
	[Forcasted_Receivables_net] [varchar](50) NULL,
	[Forcasted_Investments_in_subsidiaries_and_associates] [varchar](50) NULL,
	[Forcasted_Non_current_assets_held_for_sale_net] [varchar](50) NULL,
	[Forcasted_Property_plant_and_equipment_net] [varchar](50) NULL,
	[Forcasted_Right_of_use_assets_Net] [varchar](50) NULL,
	[Forcasted_Intangible_Assets_Softwares] [varchar](50) NULL,
	[Forcasted_Other_Assets] [varchar](50) NULL,
	[Forcasted_Deferred_tax_asset] [varchar](50) NULL,
	[Forcasted_Deposits_Due_to_Other_Banks] [varchar](50) NULL,
	[Forcasted_Customers_deposit] [varchar](50) NULL,
	[Forcasted_Margin_Held_Payable] [varchar](50) NULL,
	[Forcasted_Tax_and_Pension_Payable] [varchar](50) NULL,
	[Forcasted_Finance_lease_obligations] [varchar](50) NULL,
	[Forcasted_Dividend] [varchar](50) NULL,
	[Forcasted_Employee_Benefits_Obligation] [varchar](50) NULL,
	[Forcasted_Provisions] [varchar](50) NULL,
	[Forcasted_Borrowing_National_Bank_Liabilities] [varchar](50) NULL,
	[Forcasted_Other_Liabilities] [varchar](50) NULL,
	[Forcasted_Capital] [varchar](50) NULL,
	[Forcasted_Legal_reserve] [varchar](50) NULL,
	[Forcasted_Accumulated_profit_or_loss] [varchar](50) NULL,
	[Forcasted_CBE_Noor_reserve] [varchar](50) NULL,
	[Forcasted_Other_Comprehensive_income] [varchar](50) NULL,
	[Forcasted_Regulatory_Impairment_reserve] [varchar](50) NULL,
	[Forcasted_Provisional_profit_loss] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_PRIVATE] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_PUBLIC_ENTERPRISES] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_ASSOCIATIONS] [varchar](50) NULL,
	[Forcasted_Demand_Deposit_GOVERNMENT] [varchar](50) NULL,
	[Forcasted_Saving_PRIVATE] [varchar](50) NULL,
	[Forcasted_Saving_PUBLIC_ENTERPRISES] [varchar](50) NULL,
	[Forcasted_Saving_ASSOCIATIONS] [varchar](50) NULL,
	[Forcasted_Saving_GOVERNMENT] [varchar](50) NULL,
	[Forcasted_Time_PRIVATE] [varchar](50) NULL,
	[Forcasted_Time_PUBLIC_ENTERPRISES] [varchar](50) NULL,
	[Forcasted_Time_ASSOCIATIONS] [varchar](50) NULL,
	[Forcasted_Time_GOVERNMENT] [varchar](50) NULL,
	[Forcasted_CBE_Noor_Deposit] [varchar](50) NULL,
	[Forcasted_Loans_and_and_Advance_Principal] [varchar](50) NULL,
	[Forcasted_Accrued_Interest_on_Loans_and_Advance] [varchar](50) NULL,
	[Forcasted_Coupon_Bond_Principal] [varchar](50) NULL,
	[Forcasted_Accrued_Interest_on_Coupon_Bond] [varchar](50) NULL,
	[Forcasted_DBE_Bond] [varchar](50) NULL,
	[Forcasted_Accrued_Interest_on_DBEs_Bond] [varchar](50) NULL,
	[Forcasted_Government_Bond] [varchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SEBForcasted_Financial_Statement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEBLiquidity_Risk]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEBLiquidity_Risk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
	[Total_Demand_Deposit] [nvarchar](50) NULL,
	[Total_Savings_Deposit] [nvarchar](50) NULL,
	[Total_Fixed_Deposit] [nvarchar](50) NULL,
	[Total_CBE_Noor_Demand_Deposit] [nvarchar](50) NULL,
	[Total_CBE_Noor_Saving_Deposit] [nvarchar](50) NULL,
	[Total_CBE_Noor_Fixed_Deposit] [nvarchar](50) NULL,
	[Outstanding_Deposit] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SEBLiquidity_Risk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEBMacroeconomics]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEBMacroeconomics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
	[Inflation] [nvarchar](50) NULL,
	[Average_Annual_Exchage_rate] [nvarchar](50) NULL,
	[Real_GDP] [nvarchar](50) NULL,
	[Export] [nvarchar](50) NULL,
	[Import] [nvarchar](50) NULL,
	[Trade_Balance] [nvarchar](50) NULL,
	[Broad_Money_Supply] [nvarchar](50) NULL,
	[Currency_Outside_the_bank] [nvarchar](50) NULL,
	[Government_Expenditure] [nvarchar](50) NULL,
	[Budget_Deficit] [nvarchar](50) NULL,
	[Current_Account_Balance] [nvarchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SEBMacroeconomics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEBMarket_Risk]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEBMarket_Risk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](50) NULL,
	[Net_FX_position_Million_USD] [varchar](50) NULL,
	[On_BS_Assets_USD_equivalent] [varchar](50) NULL,
	[On_BS_Liabilities_USD_equivalent] [varchar](50) NULL,
	[On_BS_Assets_in_USD] [varchar](50) NULL,
	[On_BS_Liablities_in_USD] [varchar](50) NULL,
	[On_BS_Assets_in_other_currencies_in_birr] [varchar](50) NULL,
	[On_BS_Liablities_in_other_currencies_in_birr] [varchar](50) NULL,
	[Off_balance_sheet_FX_position] [varchar](50) NULL,
	[OFF_BS_Asset] [varchar](50) NULL,
	[OFF_BS_Liablities] [varchar](50) NULL,
	[Total_On_BS_FCY_Assets_USD] [varchar](50) NULL,
	[Total_On_BS_FCY_Assets_Other_currencies] [varchar](50) NULL,
	[Total_On_BS_FCY_Liability_USD] [varchar](50) NULL,
	[Total_On_BS_FCY_Liability_Other_currencies] [varchar](50) NULL,
	[Open_Position_USD_short] [varchar](50) NULL,
	[Open_Position_Other_currency_short] [varchar](50) NULL,
	[uploaderUserId] [int] NULL,
	[approverUserId] [int] NULL,
	[approvalstatus] [int] NULL,
	[uploadedDate] [datetime] NULL,
	[approvedDate] [datetime] NULL,
 CONSTRAINT [PK_SEBMarket_Risk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Severity]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Severity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Value] [int] NULL,
	[Description] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[UpdatedBy] [int] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_Severity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeverityForAnalysis]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeverityForAnalysis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [varchar](50) NULL,
	[Quarter] [varchar](50) NULL,
	[SeverityCatId] [int] NULL,
	[NPL_Growth] [varchar](50) NULL,
	[NPL_share] [varchar](50) NULL,
	[Interest_Rate_for_long_term_L_and_A] [varchar](50) NULL,
	[Deposit_Growth_per_Drawdown] [varchar](50) NULL,
	[Unplanned_Materialization_of_Commitments_Adjusted] [varchar](50) NULL,
	[Total_Net_Current_Liability] [varchar](50) NULL,
	[Top_10_Depositors_Share_from_Total_Deposit] [varchar](50) NULL,
	[Top_100_Depositors_Share_from_Total_Deposit] [varchar](50) NULL,
	[Top_1000_Depositors_Share_from_Total_Deposit] [varchar](50) NULL,
	[Top_10_Depositors_withdraw] [varchar](50) NULL,
	[Top_100_Depositors_withdraw] [varchar](50) NULL,
	[Top_1000_Depositors_withdraw] [varchar](50) NULL,
	[Deposit_maturing_in_the_next_three_months] [varchar](50) NULL,
	[Scheduled_Payables] [varchar](50) NULL,
	[Interest_Rate_Increase] [varchar](50) NULL,
	[Interest_Rate_Decrease] [varchar](50) NULL,
	[The_share_of_FCY_BS_by_Cuureny_Type_USD] [varchar](50) NULL,
	[Devaluation_of_Birr_to_USD_Share_of_the_gap_bn_official_and_Parallel] [varchar](50) NULL,
	[Mid_Rate_Growth_USD_to_Birr] [varchar](50) NULL,
	[The_increment_on_the_actual_mid_rate_impacted_by_the_average_growth_rate_and_devaluation] [varchar](50) NULL,
	[Credit_conversion_factor_for_LC] [varchar](50) NULL,
	[Credit_conversion_factor_for_Guarantee] [varchar](50) NULL,
	[Actual_loss_per_near_miss_loss_to_average_of_the_three_years_gross_income_ratio] [varchar](50) NULL,
	[External_] [varchar](50) NULL,
	[People] [varchar](50) NULL,
	[Process] [varchar](50) NULL,
	[System] [varchar](50) NULL,
	[Principal_collection_from_total_collection] [varchar](50) NULL,
	[Interest_collection_from_total_collection] [varchar](50) NULL,
	[Principal_Collection_share_of_bond] [varchar](50) NULL,
	[Principal_Collection_share_of_Loan_and_Advance] [varchar](50) NULL,
	[Share_of_new_loan_disbursment_from_the_total_disbursment] [varchar](50) NULL,
	[Share_of_fresh_bond_disbursment_from_the_total_disbursment] [varchar](50) NULL,
	[Ratio_of_Principal_loan_collection_to_principal_Loans_and_Advances_Amount] [varchar](50) NULL,
	[Share_of_Principal_bond_collection_to_principal_bond_Amount] [varchar](50) NULL,
	[Share_of_NCSBC_from_the_total_loan] [varchar](50) NULL,
	[Legal_Reserve] [varchar](50) NULL,
	[Incremental_deposit_net_of_non_fund_Impact] [varchar](50) NULL,
	[Maximum_Fund_Application_Rate] [varchar](50) NULL,
	[Disburcement_Share_of_Loan] [varchar](50) NULL,
	[Disburcement_Share_of_Bond] [varchar](50) NULL,
	[Incremental_IFB_Deposit_Share] [varchar](50) NULL,
	[Incremental_Conventional_Deposit_Share] [varchar](50) NULL,
	[Incremental_Conventional_Saving_Deposit_Share] [varchar](50) NULL,
	[Incremental_Conventional_Time_Deposit_Share] [varchar](50) NULL,
	[Effective_Interest_Rate_of_Loan] [varchar](50) NULL,
	[Effective_Interest_Rate_of_Bond] [varchar](50) NULL,
	[Deposit_Interest_rate_for_Saving] [varchar](50) NULL,
	[Deposit_Interest_rate_for_Time] [varchar](50) NULL,
	[UploadedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[UploaderUserId] [int] NULL,
	[UpdaterUserId] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_SeverityForAnalysis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 19/03/2024 10:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](150) NULL,
	[EmployeeId] [nvarchar](150) NULL,
	[UserRoleId] [int] NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[APCredit] ON 

SET IDENTITY_INSERT [dbo].[APCredit] OFF
GO
SET IDENTITY_INSERT [dbo].[Market_risk] ON 

SET IDENTITY_INSERT [dbo].[Market_risk] OFF
GO
SET IDENTITY_INSERT [dbo].[Oprational_risk] ON 

SET IDENTITY_INSERT [dbo].[Oprational_risk] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName], [Description], [Status], [CreatedBy], [UpdatedBy]) VALUES (1, N'admin', NULL, NULL, NULL, NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [Description], [Status], [CreatedBy], [UpdatedBy]) VALUES (2, N'admin2', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SDBActualFinancialStatement] ON 

SET IDENTITY_INSERT [dbo].[SDBActualFinancialStatement] OFF
GO
SET IDENTITY_INSERT [dbo].[SDBCredit] ON 

SET IDENTITY_INSERT [dbo].[SDBCredit] OFF
GO
SET IDENTITY_INSERT [dbo].[SDBLiquidity] ON 

SET IDENTITY_INSERT [dbo].[SDBLiquidity] OFF
GO
SET IDENTITY_INSERT [dbo].[Severity] ON 

INSERT [dbo].[Severity] ([Id], [Name], [Value], [Description], [Status], [UpdatedBy], [CreatedBy]) VALUES (1, N'Base_Case', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Severity] ([Id], [Name], [Value], [Description], [Status], [UpdatedBy], [CreatedBy]) VALUES (2, N'Adverse_Case', 2, NULL, NULL, NULL, NULL)
INSERT [dbo].[Severity] ([Id], [Name], [Value], [Description], [Status], [UpdatedBy], [CreatedBy]) VALUES (3, N'Severe_Case', 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Severity] OFF
GO
SET IDENTITY_INSERT [dbo].[SeverityForAnalysis] ON 

SET IDENTITY_INSERT [dbo].[SeverityForAnalysis] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([Id], [UserEmail], [EmployeeId], [UserRoleId]) VALUES (16, N'yonatanmekuria@cbe', N'040907', 2)
INSERT [dbo].[UserProfile] ([Id], [UserEmail], [EmployeeId], [UserRoleId]) VALUES (17, N'addisgashaw@cbe.com.et', N'050036', 1)
INSERT [dbo].[UserProfile] ([Id], [UserEmail], [EmployeeId], [UserRoleId]) VALUES (18, N'yohannesgetachew1@cbe.com.et', N'040831', 1)
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
GO
ALTER TABLE [dbo].[Severity]  WITH CHECK ADD  CONSTRAINT [FK_Severity_UserProfile] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Severity] CHECK CONSTRAINT [FK_Severity_UserProfile]
GO
ALTER TABLE [dbo].[SeverityForAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_SeverityForAnalysis_SeverityForAnalysis] FOREIGN KEY([SeverityCatId])
REFERENCES [dbo].[Severity] ([Id])
GO
ALTER TABLE [dbo].[SeverityForAnalysis] CHECK CONSTRAINT [FK_SeverityForAnalysis_SeverityForAnalysis]
GO
ALTER TABLE [dbo].[SeverityForAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_SeverityForAnalysis_UserProfile] FOREIGN KEY([UploaderUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[SeverityForAnalysis] CHECK CONSTRAINT [FK_SeverityForAnalysis_UserProfile]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Role] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_Role]
GO
USE [master]
GO
